@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 6%;
  --foreground: 0 0% 96%;
  --card: 240 8% 10%;
  --border: 240 7% 19%;
  --muted: 240 5% 62%;
  --accent: 221 83% 53%;
  --primary: 160 84% 39%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
}
